.dashboard-wrapper {
    width: 100%;
    height: 100%;
    // background-color: #f7f2e2;
    background-color: #f1e9c6;
    
}

.dashboard-content {
    width: 75%;
    height: 100%;
    
    background-color: #eda20b;
//    background-color: rgba(244, 173, 66, .7);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
    align-items: center;

}

.dashboard-content-text {
    background-color: #f1e9c6;
    // border: 2px solid #eda20b;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-content-text.host {
    background-color: rgba(244, 173, 66, .7);
    margin-bottom: 40px;
     border: 3px solid #eda20b;
    
}

.dashboard-content-text h1 {
    width: 500px;
    text-align: center;
    font-family: cursive;
}
.dashboard-content-text h3 {
    width: 500px;
    text-align: center;
}

.dashboard-events-wrapper {
    width: 100%;
    // border: 1px solid blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: #f1e9c6;
    // padding-bottom: 20px;
    
}



.dashboard-events {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    // border: 1px solid green;
    // margin: 10px;
    // background-color: #ffdd99;
    align-items: center;
    justify-content: space-between;
    // justify-content: center;

}