// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-wrapper {
    width: 100%;
    height: 100%;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 242, 226);
}

.events-pic {
    background-image: url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Meal%20banner.jpg?itok=t_iAg-1M);
    // background-image: url(https://images.unsplash.com/photo-1524182576066-1bb979e25342?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    height: 270px;
    width: 100%;
    opacity: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.events-layer {
    background-color: rgba(244, 173, 66, .7);
    // opacity: 0.7;
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-pic-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.events-outer-text {
    color: white;
    font-weight: bold;
    font-style: normal;
    margin: 9px auto;

    //  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "canada-type-gibson";
    font-size: 40px;
}

.events-inner-text {
    color: white;
    // transform: translate(25%, 25%);
    width: 700px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 36px;
    //  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.events-img-text h3{
    text-align: center;
}


.event-wrap {
    height: 240px;
    width: 230px;
    border: 1px solid gray;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.event-wrap a{
    text-decoration-line: none;
    color: black;
    
}

.events-center-wrap {
    height: 100%;
    width: 70%;
    // border: 1px solid red;
    margin: 0 0 60px 0;
}

.events-center-top {
    width: 100%;
    height: 250px;
    // border: 1px solid blue;
    margin-bottom: 20px;
    display: flex; 
    // flex-basis: column;
    align-items: flex-end;
}

.events-center-content {
    width: 100%;
    height: 80%;
    // border: 1px solid orange;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.city-events-container {
    display: flex;
    background-color: rgb(247, 242, 226);
    width: 100%;
}

.events-center-month {
    width: 100%;
    margin-left: 20px;
    // height: 50px;
    // border: 1px solid rgb(241, 205, 205);
}

.events-jump-times {
    width: 100%;
    height: 100%;
    border-top: 2px solid #eda20b;
    display: flex;
    // padding-top: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #eda20b;
    font-size: 1.3em;
    background-color: #f1e9c6;
    // border: 1px solid green;
}

.jump-buttons {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100px;
    // border: 1px solid brown;
    // align-items: center;
}



.jump-buttons a {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 33px;
    border-radius: 5px;
    border: 2px solid #eda20b;
    text-align: center;
    text-decoration: none;
    color: #eda20b;
    font-size: .7em;
    font-weight: 900;
    background-color: #f7f2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jump-buttons a:hover{
    color: #f7f2e2;
    background-color: #eda20b;
    
}



.event-wrap.city {
    margin: 15px 0px 0px 15px;
    border: 1px solid #EF6236;
    background-color: rgb(247, 242, 226);
    width: 20%;
    // height: 230px;
    // width: 230px;
}





.city-events-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.city-title-header {
    margin-top: 40%;
    padding-left: 35px;
    font-size: 23px;
    height: 60px;
    width: 150px;
    // position: relative;
    text-align: center;
    color: #EF6236;
}

.tt-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    // border: 1px solid red; 
}

.tt-date-pic {
    display: flex;
    justify-content: space-between;
}

.event-corner-pic {
    width: 100px;
    position: relative;
    bottom: 20px;
    right: 10px;
    height: 100px;
    border: 2px solid #EF6236;
    // background-image: url(https://cdn.dribbble.com/users/738700/screenshots/2689482/icon_city_02-02___.png);
    background-image: url(https://cdn3.iconfinder.com/data/icons/vol-1-1/128/bridge-512.png);
    background-color: white;
    background-size: 100% 100%;

}

.tt-date {
    margin-left: 30px;
    margin-top: 10px;
}

.tt-date p {
    margin: 2px;
}

.displayDay {
    color: #929292;
    font-size: 1em;
    font-weight: 700;
}

.displayDate {
    font-size: 18px;
    color: black;
    font-weight: 900;
}

.displayHour {
    font-size: 15px;
    color: black;
    font-weight: 900;
}


.tt-address {
    // border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #929292;
    border-bottom: 1px solid #929292;
}

// .event-date {
//     width: 70px;
//     align-items: left;
// }
