// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}

.events-img {
    background-image: url(http://www.opentable.com/m/best-foodie-restaurants-in-canada/images/13f05befdee9c481378c4c1c7b10f3a3.jpg);
    background-size: 100% 100%;
    height: 500px;
}

.events-img-cover {
    width: 100%;
    height: 100%;
    background-color:#f4ad42;
    opacity: .50;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.event-wrap {
    height: 250px;
    width: 230px;
    border: 1px solid gray;
}

.event-wrap.city {
    margin: 15px 0px 0px 15px;
    border: 1px solid #EF6236;
}

.event-header {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.city-events-container {
    display: flex;
}

.city-events-list {
    display: flex;
    flex-wrap: wrap;
}

.city-title-header {
    margin-top: 40%;
    padding-left: 30px;
    font-size: 20px;
    height: 60px;
    width: 150px;
    // position: relative;
    text-align: center;
    color: #EF6236;
}