.guest-information{
    display: flex;
    background-color: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.guest-card{
    width: 120px;
    height: 120px;
    border: 2px solid #eda20b;
    background-color: white;
}

.guest-info {
    position: relative;
    top: -45%;
    text-align: center;
    font-size: 16px;
    font-family: cursive;

}