.form-page-wrapper {
    width: 100%;
    height: 100%;
    background-color: #faf6e8;
}

.event-form-wrapper {
    width: 600px;
    // border: 1px solid blue;
    margin: 20px auto;
}



input.form-inputs {
    width: 500px;
}


.create-event-submit {
    width: 530px;
    background-color: #c93c10;
}


.create-dropdown {
    width: 89%;
    
}

#event-errors {
    display: none;
    
}

