.show-container {
    width: 100%; 
    height: 100%;
    background-color: #faf6e8;
}


.show-content-container {
    width: 1020px;
    height: 800px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
}

.left-show {
    margin: 15px 15px;
}

.left-first {
    width: 320px;
    height: 360px;
    border: 1px solid black;
}

.show-signup {
    width: 320px;
    height: 80px;
    background-color: #EF6236;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 18px;
    color: white;
    font-weight: 900;
}