.signup-wrapper {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}

.signup-form {
    width: 980px;
    padding: 50px 20px;
    border: 1px solid green;
    margin: 0 auto;
}

.signup-fields {
    width: 660px;
    margin: 0px auto;
}

h2 {
    border: 1px solid red;
}
input {
    width: 650px;
    height: 60px;
    margin: 20px auto;
    line-height: 1.7;
    font-size: 18px;
    padding-left: 20px;
}