.signup-wrapper {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
    background-color: #F3ECCE;
}

.signup-form {
    width: 980px;
    padding: 50px 20px;
    border: 1px solid green;
    margin: 0 auto;
}

.signup-fields {
    width: 660px;
    margin: 0px auto;
}

input {
    width: 646px;
    height: 56px;
    margin: 20px auto;
    line-height: 1.7;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 3px;
    font-weight: 200;
}

h4 {
    // border: 1px solid red;
    text-align: center;
    text-decoration: none;
    color: red;
}

.signup-submit {
    width: 671px;
    height: 56px;
    border: 1px solid blue;
    background-color: #c93c10;
    padding-right: 20px;
}

.signup-submit.demo {
    background-color: #397bc7;
}

