.signup-wrapper {
    // border: 1px solid blue;
    height: 100vh;
    width: 100vw;
    background-color: #faf6e8;
}

.signup-form {
    width: 60%;
    // height: 60%;
    padding: 0 20px;
    // border: 1px solid green;
    margin: 0 auto;
}

.signup-fields {
    width: 660px;
    margin: 0px auto;
}

input {
    width: 646px;
    height: 56px;
    margin: 10px auto;
    line-height: 1.7;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 3px;
    font-weight: 200;
}

// h4 {
//     // border: 1px solid red;
//     text-align: center;
//     text-decoration: none;
//     color: red;
// }

.signup-submit {
    width: 671px;
    height: 56px;
    border: 1px solid blue;
    background-color: #c93c10;
    padding-right: 20px;
}

.signup-submit.demo {
    background-color: #397bc7;
}


.signup-description {
    // border: 1px solid black;
    text-align: left;
    color: black;
    line-height: 1.625;
    font-size: 18px;
    font-weight: 300;
}

// h2 {
//     color: #c93c10;
//     font-weight: 900;
// }

.signup-errors li {
    color: red;
    // background-color: orange;
    list-style-type: none;
    // border: 1px solid red;
}